.text-center {
  text-align: center;
}

.h100 {
  height: 100%;
}

.mt-4 {
  margin-top: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-8 {
  margin-top: 2rem;
}

.my-4 {
  margin: 1rem 0;
}
.my-6 {
  margin: 1.5rem 0;
}
.my-8 {
  margin: 2rem 0;
}

.mx-4 {
  margin: 0 1rem;
}
.mx-6 {
  margin: 0 1.5rem;
}
.mx-8 {
  margin: 0 2rem;
}
